<html>
  <head>
    <title>Miseacademy DevOps Course</title>
  </head>
  <body>
    <h1>🚀 Welcome to {{ ansible_hostname }}</h1>
    <h2>Miseacademy DevOps Course</h2>
    <p>Running on {{ ansible_distribution }} {{ ansible_distribution_version }}</p>
    <p>Date: {{ ansible_date_time.date }}</p>
    <p>Master Cloud, CI/CD, Docker, Kubernetes, and more with us!</p>
    <footer>
      <p>Powered by Ansible & Jinja2 Templates</p>
      <p>Database password is {{ db_password }}</p>
    </footer>
  </body>
</html>

